.icon-ShowTickets,.icon-SiteLock,.icon-accounts,.icon-addon_domains,.icon-address_importer,.icon-advanced_zone_editor,.icon-aliases,.icon-analog_stats,.icon-anonymous_ftp,.icon-apache_handlers,.icon-apache_spam_assassin,.icon-api_shell,.icon-archive,.icon-attracta_getingoogle,.icon-attracta_googlewebsiteservices,.icon-attracta_increasewebsitetraffic,.icon-attracta_linkbuilding,.icon-attracta_one-clicksitemap,.icon-attracta_seotips,.icon-attracta_seotools,.icon-authentication,.icon-autoresponders,.icon-awstats,.icon-backup,.icon-backup_wizard,.icon-bandwidth,.icon-boxtrapper,.icon-calendar_and_contacts,.icon-change_language,.icon-change_password,.icon-change_style,.icon-cloudflare,.icon-cloudflare_analytics,.icon-cloudflare_performance,.icon-cloudflare_security,.icon-cloudflare_status,.icon-cloudflare_support,.icon-contact_information,.icon-cpu_and_concurrent_connection_usage,.icon-createticket,.icon-cron_jobs,.icon-default_address,.icon-directory_privacy,.icon-disk_usage,.icon-email_filters,.icon-encryption,.icon-enduserlve,.icon-error_pages,.icon-errors,.icon-file_manager,.icon-forwarders,.icon-ftp_accounts,.icon-ftp_connections,.icon-global_email_filters,.icon-greylisting,.icon-group_advanced,.icon-group_databases,.icon-group_domains,.icon-group_email,.icon-group_files,.icon-group_metrics,.icon-group_security,.icon-group_software,.icon-hotlink_protection,.icon-images,.icon-indexes,.icon-ip_blocker,.icon-leech_protection,.icon-letsencrypt-cpanel,.icon-lvephpsel,.icon-lvepythonsel,.icon-lverubysel,.icon-mailing_lists,.icon-metrics_editor,.icon-mime_types,.icon-mod_security,.icon-multiphp_configuration,.icon-multiphp_ini_editor,.icon-multiphp_manager,.icon-mx_entry,.icon-mysql_database_wizard,.icon-mysql_databases,.icon-optimize_website,.icon-perl_modules,.icon-php,.icon-php_my_admin,.icon-php_pear_packages,.icon-php_pg_admin,.icon-postgresql_database_wizard,.icon-postgresql_databases,.icon-raw_access,.icon-redirects,.icon-remote_mysql,.icon-ruby_gems,.icon-ruby_on_rails,.icon-scriptactivity,.icon-security_policy,.icon-simple_zone_editor,.icon-site_publisher,.icon-site_software,.icon-sitereptile,.icon-soft_div_icons,.icon-softaculous,.icon-ssh_access,.icon-ssl_management,.icon-ssl_storage,.icon-ssl_tls,.icon-subdomains,.icon-support,.icon-third_party_plugins,.icon-tls_wizard,.icon-track_delivery,.icon-track_dns,.icon-two_factor_authentication,.icon-user_manager,.icon-virus_scanner,.icon-visitors,.icon-web_disk,.icon-web_host_manager,.icon-webalizer,.icon-webalizer_ftp { background-image: url('icon_spritemap.png'); background-repeat: no-repeat; }
.icon-ShowTickets { background-position: -5px -5px; width: 48px; height: 48px; }
.icon-SiteLock { background-position: -63px -5px; width: 48px; height: 48px; }
.icon-accounts { background-position: -5px -63px; width: 48px; height: 48px; }
.icon-addon_domains { background-position: -63px -63px; width: 48px; height: 48px; }
.icon-address_importer { background-position: -121px -5px; width: 48px; height: 48px; }
.icon-advanced_zone_editor { background-position: -121px -63px; width: 48px; height: 48px; }
.icon-aliases { background-position: -5px -121px; width: 48px; height: 48px; }
.icon-analog_stats { background-position: -63px -121px; width: 48px; height: 48px; }
.icon-anonymous_ftp { background-position: -121px -121px; width: 48px; height: 48px; }
.icon-apache_handlers { background-position: -179px -5px; width: 48px; height: 48px; }
.icon-apache_spam_assassin { background-position: -179px -63px; width: 48px; height: 48px; }
.icon-api_shell { background-position: -179px -121px; width: 48px; height: 48px; }
.icon-archive { background-position: -5px -179px; width: 48px; height: 48px; }
.icon-attracta_getingoogle { background-position: -63px -179px; width: 48px; height: 48px; }
.icon-attracta_googlewebsiteservices { background-position: -121px -179px; width: 48px; height: 48px; }
.icon-attracta_increasewebsitetraffic { background-position: -179px -179px; width: 48px; height: 48px; }
.icon-attracta_linkbuilding { background-position: -237px -5px; width: 48px; height: 48px; }
.icon-attracta_one-clicksitemap { background-position: -237px -63px; width: 48px; height: 48px; }
.icon-attracta_seotips { background-position: -237px -121px; width: 48px; height: 48px; }
.icon-attracta_seotools { background-position: -237px -179px; width: 48px; height: 48px; }
.icon-authentication { background-position: -5px -237px; width: 48px; height: 48px; }
.icon-autoresponders { background-position: -63px -237px; width: 48px; height: 48px; }
.icon-awstats { background-position: -121px -237px; width: 48px; height: 48px; }
.icon-backup { background-position: -179px -237px; width: 48px; height: 48px; }
.icon-backup_wizard { background-position: -237px -237px; width: 48px; height: 48px; }
.icon-bandwidth { background-position: -295px -5px; width: 48px; height: 48px; }
.icon-boxtrapper { background-position: -295px -63px; width: 48px; height: 48px; }
.icon-calendar_and_contacts { background-position: -295px -121px; width: 48px; height: 48px; }
.icon-change_language { background-position: -295px -179px; width: 48px; height: 48px; }
.icon-change_password { background-position: -295px -237px; width: 48px; height: 48px; }
.icon-change_style { background-position: -5px -295px; width: 48px; height: 48px; }
.icon-cloudflare { background-position: -63px -295px; width: 48px; height: 48px; }
.icon-cloudflare_analytics { background-position: -121px -295px; width: 48px; height: 48px; }
.icon-cloudflare_performance { background-position: -179px -295px; width: 48px; height: 48px; }
.icon-cloudflare_security { background-position: -237px -295px; width: 48px; height: 48px; }
.icon-cloudflare_status { background-position: -295px -295px; width: 48px; height: 48px; }
.icon-cloudflare_support { background-position: -353px -5px; width: 48px; height: 48px; }
.icon-contact_information { background-position: -353px -63px; width: 48px; height: 48px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -353px -121px; width: 48px; height: 48px; }
.icon-createticket { background-position: -353px -179px; width: 48px; height: 48px; }
.icon-cron_jobs { background-position: -353px -237px; width: 48px; height: 48px; }
.icon-default_address { background-position: -353px -295px; width: 48px; height: 48px; }
.icon-directory_privacy { background-position: -5px -353px; width: 48px; height: 48px; }
.icon-disk_usage { background-position: -63px -353px; width: 48px; height: 48px; }
.icon-email_filters { background-position: -121px -353px; width: 48px; height: 48px; }
.icon-encryption { background-position: -179px -353px; width: 48px; height: 48px; }
.icon-enduserlve { background-position: -237px -353px; width: 48px; height: 48px; }
.icon-error_pages { background-position: -295px -353px; width: 48px; height: 48px; }
.icon-errors { background-position: -353px -353px; width: 48px; height: 48px; }
.icon-file_manager { background-position: -411px -5px; width: 48px; height: 48px; }
.icon-forwarders { background-position: -411px -63px; width: 48px; height: 48px; }
.icon-ftp_accounts { background-position: -411px -121px; width: 48px; height: 48px; }
.icon-ftp_connections { background-position: -411px -179px; width: 48px; height: 48px; }
.icon-global_email_filters { background-position: -411px -237px; width: 48px; height: 48px; }
.icon-greylisting { background-position: -411px -295px; width: 48px; height: 48px; }
.icon-group_advanced { background-position: -147px -585px; width: 30px; height: 30px; }
.icon-group_databases { background-position: -187px -585px; width: 30px; height: 30px; }
.icon-group_domains { background-position: -227px -585px; width: 30px; height: 30px; }
.icon-group_email { background-position: -267px -585px; width: 30px; height: 30px; }
.icon-group_files { background-position: -307px -585px; width: 30px; height: 30px; }
.icon-group_metrics { background-position: -347px -585px; width: 30px; height: 30px; }
.icon-group_security { background-position: -387px -585px; width: 30px; height: 30px; }
.icon-group_software { background-position: -427px -585px; width: 30px; height: 30px; }
.icon-hotlink_protection { background-position: -411px -353px; width: 48px; height: 48px; }
.icon-images { background-position: -5px -411px; width: 48px; height: 48px; }
.icon-indexes { background-position: -63px -411px; width: 48px; height: 48px; }
.icon-ip_blocker { background-position: -121px -411px; width: 48px; height: 48px; }
.icon-leech_protection { background-position: -179px -411px; width: 48px; height: 48px; }
.icon-letsencrypt-cpanel { background-position: -237px -411px; width: 48px; height: 48px; }
.icon-lvephpsel { background-position: -295px -411px; width: 48px; height: 48px; }
.icon-lvepythonsel { background-position: -353px -411px; width: 48px; height: 48px; }
.icon-lverubysel { background-position: -411px -411px; width: 48px; height: 48px; }
.icon-mailing_lists { background-position: -469px -5px; width: 48px; height: 48px; }
.icon-metrics_editor { background-position: -469px -63px; width: 48px; height: 48px; }
.icon-mime_types { background-position: -469px -121px; width: 48px; height: 48px; }
.icon-mod_security { background-position: -469px -179px; width: 48px; height: 48px; }
.icon-multiphp_configuration { background-position: -469px -237px; width: 48px; height: 48px; }
.icon-multiphp_ini_editor { background-position: -469px -295px; width: 48px; height: 48px; }
.icon-multiphp_manager { background-position: -469px -353px; width: 48px; height: 48px; }
.icon-mx_entry { background-position: -469px -411px; width: 48px; height: 48px; }
.icon-mysql_database_wizard { background-position: -5px -469px; width: 48px; height: 48px; }
.icon-mysql_databases { background-position: -63px -469px; width: 48px; height: 48px; }
.icon-optimize_website { background-position: -121px -469px; width: 48px; height: 48px; }
.icon-perl_modules { background-position: -179px -469px; width: 48px; height: 48px; }
.icon-php { background-position: -237px -469px; width: 48px; height: 48px; }
.icon-php_my_admin { background-position: -295px -469px; width: 48px; height: 48px; }
.icon-php_pear_packages { background-position: -353px -469px; width: 48px; height: 48px; }
.icon-php_pg_admin { background-position: -411px -469px; width: 48px; height: 48px; }
.icon-postgresql_database_wizard { background-position: -469px -469px; width: 48px; height: 48px; }
.icon-postgresql_databases { background-position: -527px -5px; width: 48px; height: 48px; }
.icon-raw_access { background-position: -527px -63px; width: 48px; height: 48px; }
.icon-redirects { background-position: -527px -121px; width: 48px; height: 48px; }
.icon-remote_mysql { background-position: -527px -179px; width: 48px; height: 48px; }
.icon-ruby_gems { background-position: -527px -237px; width: 48px; height: 48px; }
.icon-ruby_on_rails { background-position: -527px -295px; width: 48px; height: 48px; }
.icon-scriptactivity { background-position: -527px -353px; width: 48px; height: 48px; }
.icon-security_policy { background-position: -527px -411px; width: 48px; height: 48px; }
.icon-simple_zone_editor { background-position: -527px -469px; width: 48px; height: 48px; }
.icon-site_publisher { background-position: -5px -527px; width: 48px; height: 48px; }
.icon-site_software { background-position: -63px -527px; width: 48px; height: 48px; }
.icon-sitereptile { background-position: -121px -527px; width: 48px; height: 48px; }
.icon-soft_div_icons { background-position: -179px -527px; width: 48px; height: 48px; }
.icon-softaculous { background-position: -237px -527px; width: 48px; height: 48px; }
.icon-ssh_access { background-position: -295px -527px; width: 48px; height: 48px; }
.icon-ssl_management { background-position: -63px -585px; width: 32px; height: 32px; }
.icon-ssl_storage { background-position: -105px -585px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -353px -527px; width: 48px; height: 48px; }
.icon-subdomains { background-position: -411px -527px; width: 48px; height: 48px; }
.icon-support { background-position: -469px -527px; width: 48px; height: 48px; }
.icon-third_party_plugins { background-position: -527px -527px; width: 48px; height: 48px; }
.icon-tls_wizard { background-position: -585px -5px; width: 48px; height: 48px; }
.icon-track_delivery { background-position: -585px -63px; width: 48px; height: 48px; }
.icon-track_dns { background-position: -585px -121px; width: 48px; height: 48px; }
.icon-two_factor_authentication { background-position: -585px -179px; width: 48px; height: 48px; }
.icon-user_manager { background-position: -585px -237px; width: 48px; height: 48px; }
.icon-virus_scanner { background-position: -585px -295px; width: 48px; height: 48px; }
.icon-visitors { background-position: -585px -353px; width: 48px; height: 48px; }
.icon-web_disk { background-position: -585px -411px; width: 48px; height: 48px; }
.icon-web_host_manager { background-position: -585px -469px; width: 48px; height: 48px; }
.icon-webalizer { background-position: -585px -527px; width: 48px; height: 48px; }
.icon-webalizer_ftp { background-position: -5px -585px; width: 48px; height: 48px; }